<section class="row ">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
        <a href="#" class="navbar-brand">
          <img src="../static/files/bags.jpeg"class="rounded-circle" height="25">
          Classroom<b class="text-success">Attendance</b></a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/" class="nav-item nav-link">Get Notes</a>
            <a href="/" class="nav-item nav-link">Learning materials</a>
            <a href="/" class="nav-item nav-link">Join Clubs</a>
          </div>
          <div class="navbar-nav ms-auto">
            <!--    TODO Logout-->
            <a href="/" class="nav-item nav-link">Login</a>
            <a href="/" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
    </div>
  </section>
  